{% extends 'professor.html' %}

{% block conteudo %}
	{% if confirmacao %}
	<div class="ui green inverted segment">
  		<p> Ocorencia cadastrada com sucesso  </p>
	</div>
	{% endif %}

  <h2 class="ui block header">
      <i class="pencil icon"></i> <div class="content"> Cadastro de Ocorrências </div>
  </h2>

	<form action="." method="POST" class="ui form">
		{% csrf_token %}

  		<div class="field">
    		<label>Aluno</label>
    		<select name='aluno'>
				{% for aluno in alunos %}
					<option value="{{ aluno.matricula }}">{{ aluno.nome }}</option>
				{% endfor %}
		   </select>
  		</div>

  		<div class="field">
    		<label>Disciplina</label>
    		<input type="text" id="disciplina" name="disciplina" required/>
  		</div>

  		<div class="field">
    		<label>Descrição</label>
    		<textarea name="descricao"></textarea>
  		</div>

		<div class="two fields">
			<div class="field">
	    		<label>Data</label>
	    		<input type="text" id="data" name="data" pattern="^[0-9]{4}[\-]{1}[0-9]{2}[\-][0-9]{2}$" title="Campo Obrigatório. Formato:'aaaa-mm-dd'" placeholder="aaaa-mm-dd" required/>
	  		</div>

			<div class="field">
	    		<label>Hora</label>
	    		<input type="time" id="hora" name="hora" placeholder="hh:mm" pattern="[0-9]{2}:[0-9]{2}$" title="Campo Obrigatório. Formato: 'hh:mm' " required/>
	  		</div>	
		</div>


		<input type="submit" class="ui button" />
	</form>
{% endblock %}
