{% extends 'base.html' %}

{% block menu %}
	<a class="item" href="/">Home</a>
	<a class="item" href="/cadOcorrencias/">Cadastrar Ocorrencias</a>
  <a class="item" href="/ocorrencias/">Ver Ocorrências</a>
	<a class="item" href="/perfilProfessor/">Perfil</a>
{% endblock %}

{% block conteudo %}

<h2 class="ui block header">
  <i class="settings icon"></i>
  <div class="content">
    Ocorrências
    <div class="sub header">Cadastros no menu acima</div>
  </div>
</h2>



{% endblock %}
